---
import "../styles/global.css";
interface Props {
  title?: string;
}
const { title = "Eli Blog" } = Astro.props;
---

<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/jpeg" href="/favicon.JPEG" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
